<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
  <a class="navbar-brand pb-2" [routerLink]="['/']" >ILConfessions</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/confessions']" >Confessions</a>
      </li>
      <!--
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']" >PM</a>
      </li>
      -->
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="text-light dropdown-toggle" dropdownToggle>
        Welcome {{ this.authService.decodedToken.sub | titlecase }}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/profile']" >Edit Profile</a>
        <hr>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <button *ngIf="!loggedIn()" class="btn btn-primary" (click)="loginModal()">Login</button>

  </div>
</nav>
