<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
  <a class="navbar-brand" [routerLink]="['/home']" >ILConfessions</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/confessions']" >Confessions</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']" >Members</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']" >Private Messages</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="text-light dropdown-toggle" dropdownToggle>
        Welcome {{ authService.decodedToken.email | lowercase }}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#">Edit Profile</a>
        <hr>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" required placeholder="Email..." autocomplete="email" name="email" [(ngModel)]="model.email">
      <input class="form-control mr-sm-2" type="password" required placeholder="Password..." autocomplete="password" name="password" [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>

  </div>
</nav>
